# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tkinter-related cache
*.tkintercache

# Unit test cache
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/
*.unittest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
